Index.json
[{"id":"89574822.c5c768","type":"tab","label":"Flow 12","disabled":false,"info":""},{"id":"86606637.34d228","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":11,"width":0,"height":0,"passthru":false,"label":"Clear All","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"","x":360,"y":200,"wires":[["6c5a98c7.6f0838","497f0d47.418e54","84e35144.08c93","9129bab9.d9d6e8","503d4e8c.9f221","165c39af.7afdc6"]]},{"id":"6c5a98c7.6f0838","type":"ui_chart","z":"89574822.c5c768","name":"","group":"44ffcd32.e8b734","order":4,"width":0,"height":0,"label":"radar chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":690,"y":680,"wires":[[],[]]},{"id":"497f0d47.418e54","type":"ui_chart","z":"89574822.c5c768","name":"","group":"44ffcd32.e8b734","order":3,"width":0,"height":0,"label":"polar chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":690,"y":620,"wires":[[],[]]},{"id":"84e35144.08c93","type":"ui_chart","z":"89574822.c5c768","name":"pie chart","group":"78214710.103c28","order":3,"width":0,"height":0,"label":"pie chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":680,"y":500,"wires":[[],[]]},{"id":"9129bab9.d9d6e8","type":"ui_chart","z":"89574822.c5c768","name":"","group":"44ffcd32.e8b734","order":2,"width":0,"height":0,"label":"horizontal bar","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"30","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":660,"y":380,"wires":[[],[]]},{"id":"503d4e8c.9f221","type":"ui_chart","z":"89574822.c5c768","name":"","group":"78214710.103c28","order":2,"width":0,"height":0,"label":"bar chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":640,"y":320,"wires":[[],[]]},{"id":"165c39af.7afdc6","type":"ui_chart","z":"89574822.c5c768","name":"","group":"78214710.103c28","order":1,"width":0,"height":0,"label":"line chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":2,"x":640,"y":260,"wires":[[],[]]},{"id":"85f81587.ac8b08","type":"function","z":"89574822.c5c768","name":"","func":"var m = {};\nm.labels = [\"Download\", \"In-Store\", \"Mail-Order\"];\nm.data = [[300, 500, 100]];\nm.series = [\"Sales\"];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":390,"y":760,"wires":[["84e35144.08c93","503d4e8c.9f221","165c39af.7afdc6","497f0d47.418e54","6c5a98c7.6f0838","9129bab9.d9d6e8"]]},{"id":"31d63d45.b2daf2","type":"function","z":"89574822.c5c768","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5,6,9],[3,8,5],[6,7,2]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":680,"wires":[["165c39af.7afdc6","503d4e8c.9f221","84e35144.08c93","497f0d47.418e54","6c5a98c7.6f0838","9129bab9.d9d6e8"]]},{"id":"9bca5a60.2c86a8","type":"function","z":"89574822.c5c768","name":"","func":"var m = {};\nm.labels = ['2006', '2007', '2008', '2009', '2010', '2011', '2012'];\nm.data = [[28, 48, 40, 19, 86, 27, 90]];\nm.series = ['Series A'];\nreturn {payload:[m],topic:msg.topic};","outputs":1,"noerr":0,"x":390,"y":800,"wires":[["84e35144.08c93","503d4e8c.9f221","6c5a98c7.6f0838","497f0d47.418e54","165c39af.7afdc6","9129bab9.d9d6e8"]]},{"id":"62424591.5aacfc","type":"function","z":"89574822.c5c768","name":"","func":"var m={\n    \"series\":[\"X\",\"Y\",\"Z\"],\n    \"data\":[[5],[3],[6]],\n    \"labels\":[\"Jan\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":600,"wires":[["503d4e8c.9f221","497f0d47.418e54","6c5a98c7.6f0838","165c39af.7afdc6","9129bab9.d9d6e8","84e35144.08c93"]]},{"id":"c1c93070.c0dd9","type":"function","z":"89574822.c5c768","name":"","func":"var m={\n    \"series\":[\"X\"],\n    \"data\":[[5,3,6]],\n    \"labels\":[\"Jan\",\"Feb\",\"Mar\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":640,"wires":[["503d4e8c.9f221","165c39af.7afdc6","6c5a98c7.6f0838","497f0d47.418e54","9129bab9.d9d6e8","84e35144.08c93"]]},{"id":"75bba3ac.eb53cc","type":"function","z":"89574822.c5c768","name":"","func":"var m={};\nm.labels = [\"January\", \"February\", \"March\", \"April\", \"May\", \"June\", \"July\"];\nm.series = ['Series A', 'Series B', 'Series C'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":520,"wires":[["165c39af.7afdc6","503d4e8c.9f221","9129bab9.d9d6e8","84e35144.08c93"]]},{"id":"283976e.e03988a","type":"function","z":"89574822.c5c768","name":"","func":"var m={};\nm.labels = [10,20,30,40,50,60,70];\nm.series = ['Series A', 'Series B', 'Series C', 'Series D'];\nm.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["165c39af.7afdc6","503d4e8c.9f221","9129bab9.d9d6e8","84e35144.08c93"]]},{"id":"9db173d5.7547a","type":"function","z":"89574822.c5c768","name":"topic","func":"var m = [\n    {topic:\"X\", payload:22},\n    {topic:\"Y\", payload:66},\n    {topic:\"Z\", payload:42}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":320,"wires":[["503d4e8c.9f221","84e35144.08c93","165c39af.7afdc6","9129bab9.d9d6e8"]]},{"id":"f6aaa6d3.3970f8","type":"function","z":"89574822.c5c768","name":"label","func":"var m = [\n    {label:\"A\", payload:22},\n    {label:\"B\", payload:66},\n    {label:\"C\", payload:42},\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["503d4e8c.9f221","84e35144.08c93","165c39af.7afdc6","9129bab9.d9d6e8"]]},{"id":"3cf128b0.989f08","type":"function","z":"89574822.c5c768","name":"label","func":"var m = [\n    {label:\"A\", payload:21, series:\"X\"},\n    {label:\"B\", payload:66, series:\"X\"},\n    {label:\"C\", payload:42, series:\"X\"},\n    {label:\"A\", payload:33, series:\"Y\"},\n    {label:\"B\", payload:72, series:\"Y\"},\n    {label:\"C\", payload:12, series:\"Y\"},\n    {label:\"A\", payload:44, series:\"Z\"},\n    {label:\"B\", payload:32, series:\"Z\"},\n    {label:\"C\", payload:80, series:\"Z\"}\n    ];\nreturn [m];","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["84e35144.08c93","503d4e8c.9f221","165c39af.7afdc6","9129bab9.d9d6e8"]]},{"id":"cc175c0c.cd574","type":"function","z":"89574822.c5c768","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},{\"x\":1504029636001,\"y\":4},{\"x\":1504029638656,\"y\":2}],[{\"x\":1504029633514,\"y\":6},{\"x\":1504029636622,\"y\":7},{\"x\":1504029639539,\"y\":6}],[{\"x\":1504029634400,\"y\":7},{\"x\":1504029637959,\"y\":9},{\"x\":1504029640317,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["165c39af.7afdc6"]]},{"id":"c09d2103.09dd3","type":"function","z":"89574822.c5c768","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1,\"y\":5},{\"x\":2,\"y\":4},{\"x\":3,\"y\":2}],[{\"x\":4,\"y\":6},{\"x\":5,\"y\":7},{\"x\":6,\"y\":6}],[{\"x\":7,\"y\":7},{\"x\":8,\"y\":9},{\"x\":9,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["165c39af.7afdc6"]]},{"id":"45064e11.a34c7","type":"function","z":"89574822.c5c768","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000,\"y\":5},{\"x\":2000000,\"y\":4},{\"x\":3000000,\"y\":2}],[{\"x\":4000000,\"y\":6},{\"x\":5000000,\"y\":7},{\"x\":6000000,\"y\":6}],[{\"x\":7000000,\"y\":7},{\"x\":8000000,\"y\":9},{\"x\":9000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["165c39af.7afdc6"]]},{"id":"784c83fc.370fdc","type":"function","z":"89574822.c5c768","name":"","func":"var chart = [{\n    \"series\":[\"A\",\"B\",\"C\"],\n        \"data\":[[{\"x\":1000000000,\"y\":5},{\"x\":2000000000,\"y\":4},{\"x\":3000000000,\"y\":2}],[{\"x\":4000000000,\"y\":6},{\"x\":5000000000,\"y\":7},{\"x\":6000000000,\"y\":6}],[{\"x\":7000000000,\"y\":7},{\"x\":8000000000,\"y\":9},{\"x\":9000000000,\"y\":7}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["165c39af.7afdc6"]]},{"id":"7611075.50252f8","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":10,"width":0,"height":0,"passthru":false,"label":"array for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie 4 T","x":230,"y":760,"wires":[["85f81587.ac8b08"]]},{"id":"e259e53b.063858","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":9,"width":0,"height":0,"passthru":false,"label":"array3c","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":680,"wires":[["31d63d45.b2daf2"]]},{"id":"dca4bd2.d7ce24","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":11,"width":0,"height":0,"passthru":false,"label":"array 2 for pie","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"Pie Hole","x":240,"y":800,"wires":[["9bca5a60.2c86a8"]]},{"id":"7ced9d27.7f9a64","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":7,"width":0,"height":0,"passthru":false,"label":"array3a","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":600,"wires":[["62424591.5aacfc"]]},{"id":"fa7b8b16.be4f48","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":8,"width":0,"height":0,"passthru":false,"label":"array3b","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":220,"y":640,"wires":[["c1c93070.c0dd9"]]},{"id":"9e049431.877e48","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":5,"width":0,"height":0,"passthru":false,"label":"array","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":520,"wires":[["75bba3ac.eb53cc"]]},{"id":"452a5443.65c89c","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":6,"width":0,"height":0,"passthru":false,"label":"array2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":210,"y":560,"wires":[["283976e.e03988a"]]},{"id":"d354a211.20cb2","type":"inject","z":"89574822.c5c768","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":320,"wires":[["9db173d5.7547a"]]},{"id":"6d15c9f7.69d388","type":"inject","z":"89574822.c5c768","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":280,"wires":[["f6aaa6d3.3970f8"]]},{"id":"555d81d6.e40c9","type":"inject","z":"89574822.c5c768","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":220,"y":240,"wires":[["3cf128b0.989f08"]]},{"id":"4bdfa310.53c2ec","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":1,"width":0,"height":0,"passthru":false,"label":"Time Line 1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":360,"wires":[["cc175c0c.cd574"]]},{"id":"257c473.ce770b8","type":"inject","z":"89574822.c5c768","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"str","x":230,"y":720,"wires":[[]]},{"id":"fd66a369.e05b","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":2,"width":0,"height":0,"passthru":false,"label":"Time Line 2","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":400,"wires":[["c09d2103.09dd3"]]},{"id":"d296e45b.7d62d8","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":3,"width":0,"height":0,"passthru":false,"label":"Time Line 3","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":440,"wires":[["45064e11.a34c7"]]},{"id":"cd6c6fc5.6b12","type":"ui_button","z":"89574822.c5c768","name":"","group":"a5c83f67.daf71","order":4,"width":0,"height":0,"passthru":false,"label":"Time Line 4","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":230,"y":480,"wires":[["784c83fc.370fdc"]]},{"id":"a5c83f67.daf71","type":"ui_group","name":"Inputs","tab":"a17bc880.f718e8","order":1,"disp":false,"width":"6"},{"id":"44ffcd32.e8b734","type":"ui_group","name":"Group 3","tab":"a17bc880.f718e8","order":3,"disp":false,"width":"6"},{"id":"78214710.103c28","type":"ui_group","name":"Charts","tab":"a17bc880.f718e8","order":2,"disp":false,"width":"6"},{"id":"a17bc880.f718e8","type":"ui_tab","name":"Charts","icon":"dashboard","order":2}]
